$x-color: rgb(207, 37, 37);
$o-color: rgb(90, 183, 56);
$base-color: royalblue;
.board {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto;
  border-radius: 1rem;
  div {
    width: 200px;
    aspect-ratio: 1;
    border: 3px solid $base-color;
    box-sizing: border-box;
    font-size: 9rem;
    text-shadow: 5px 2px 3px #7c5858;
    cursor: pointer;
  }
}

.board > div:nth-child(1),
.board > div:nth-child(4),
.board > div:nth-child(7) {
  border-left: none;
}

.board > div:nth-child(1),
.board > div:nth-child(2),
.board > div:nth-child(3) {
  border-top: none;
}

.board > div:nth-child(3),
.board > div:nth-child(6),
.board > div:nth-child(9) {
  border-right: none;
}

.board > div:nth-child(7),
.board > div:nth-child(8),
.board > div:nth-child(9) {
  border-bottom: none;
}

.first-user-color {
  color: $x-color;
}

.second-user-color {
  color: $o-color;
}

.win-color {
  background-color: #7979d5;
  animation: flip-diagonal-1-tr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-diagonal-1-tr {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

@media (max-width: 600px) {
  .board {
    width: 450px;
    div {
      width: 150px;
      font-size: 5rem;
    }
  }
}

@media (max-width: 450px) {
  .board {
    width: 300px;
    div {
      width: 100px;
    }
  }
}
