.board {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(188, 202, 243);
  border: 4px solid royalblue;
  margin: 1rem auto;
  border-radius: 1rem;
}

.board div {
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid royalblue;
  box-sizing: border-box;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 2px 3px #7c5858;
  cursor: pointer;
}

.first-user-color {
  color: rgb(207, 37, 37);
}

.second-user-color {
  color: rgb(90, 183, 56);
}

.win-color {
  background-color: #7979d5;
  animation: flip-diagonal-1-tr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-diagonal-1-tr {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}
