.board {
  width: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(188, 202, 243);
  border: 2px solid royalblue;
  margin: 10vh auto;
}

.board div {
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid royalblue;
  box-sizing: border-box;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-user-color {
  color: rgb(207, 37, 37);
}

.second-user-color {
  color: rgb(90, 183, 56);
}

.win-color {
  background-color: darkblue;
}
