.fin-popup {
  width: 450px;
  background-color: ghostwhite;
  color: royalblue;
  position: absolute;
  top: calc(40%);
  left: calc(50% - 225px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 5px rgb(35, 74, 192);
  border: 2px solid royalblue;
  padding: 5px;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}

.new-game-btn {
  padding: 0.25rem;
  background-color: darkblue;
  color: antiquewhite;
  border-radius: 0.5rem;
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-size: 1.2rem;
}

.hide {
  display: none;
}
